@font-face {
    src: url(./fonts/yekan.woff);
    font-family: yekan;
}

/* coment */
body {
    font-family: yekan;
    margin: 0px
}

a {
    text-decoration: none;
    color: inherit;
}

/* end coment */

/* header */
header {
    background-color: #002254;
    color: #eae92e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.logo {
    display: flex;
    margin-top: 20px;
}

div.one {
    margin-left: 20px;
}

a {
    margin: 8px;
    font-size: 24px;
    padding: 8px 32px;
}

nav a:last-child {
    border: 2px solid;
}


/* end header */

/* section */
section.btn1 {
    background: url('./img/slide1.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.hed {
    text-align: center;
}

div.row {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}

section.btn2 {
    background-color: #b51a34;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

section.btn2 a {
    color: white;
    border: 5px solid;
}

section.btn3 {
    display: flex;
    justify-content: center;

}

section.btn3>div {
    width: 32%;
}

section.btn3 img {
    width: 100%;
}

section.btn3 a {
    border: 2px solid blue;
    color: blue;
}

section.btn3 h2 {
    font-size: 32px;
}

section.btn3 p {
    font-size: 24px;
}

/* end section */

/* footer */
footer {
    background: url('./img/kohestan.jpg');
    height: 30vh;
}

/* end footer */